<nav class="navbar navbar-expand-lg navbar-dark bg-primary py-3 mb-5">
  <div class="container">
    <a class="navbar-brand" href="#">Angular Charts</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="line-chart" routerLinkActive="active">Line Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pie-chart" routerLinkActive="active">Pie Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="bar-chart" routerLinkActive="active">Bar Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="doughnut-chart" routerLinkActive="active">Doughnut Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="polar-chart" routerLinkActive="active">Polar Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="radar-chart" routerLinkActive="active">Radar Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="bubble-chart" routerLinkActive="active">Bubble Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="scatter-chart" routerLinkActive="active">Scatter Chart</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<div class="container-fluid my-5 py-5">
  <h2>All ng2 charts</h2>
  <div class="row">
    <div class="col-3 pt-4">
      <canvas baseChart  width="400" height="300"
        [datasets]="[
        {
          data: [
            { x: 1, y: 1 },
            { x: 2, y: 3 },
            { x: 3, y: -2 },
            { x: 4, y: 4 },
            { x: 5, y: -3, r: 20 },
          ],
          label: 'Series A',
          pointRadius: 10
        }]" 
        [chartType]="'scatter'"
        [options]="{responsive: true}"
        [legend]="true">
      </canvas>
      <h3 class="text-center mt-3">Doughnut Chart</h3>
    </div>
    <div class="col-3 pt-4">
      <canvas baseChart width="400" height="300"
        [datasets]="[{ data: [65, 59, 80, 81, 56, 55, 40], label: 'Series A' },]"
        [labels]="['January', 'February', 'March', 'April', 'May', 'June', 'July']"
        [colors]="[{ borderColor: 'black', backgroundColor: 'rgba(255,0,0,0.3)'}]"
        [legend]="true"
        [chartType]="'line'"
        [plugins]="[]">
      </canvas>
      <h3 class="text-center mt-3">Line Chart</h3>
    </div>
    <div class="col-3 pt-4">
      <canvas baseChart width="400" height="300"
        [datasets]="[{ data: [65, 59, 80, 81, 56, 55, 40], label: 'Series A' }, { data: [28, 48, 40, 19, 86, 27, 90], label: 'Series B' }]" 
        [labels]="['2006', '2007', '2008', '2009', '2010', '2011', '2012']" 
        [chartType]="'bar'"
        [options]="{responsive: true}"
        [plugins]="[]"
        [legend]="true">
      </canvas>
      <h3 class="text-center mt-3">Pie Chart</h3>
    </div>
    <div class="col-3 pt-4">
      <canvas baseChart  width="400" height="300"
        [datasets]="[
        {
          data: [
            { x: 10, y: 10, r: 10 },
            { x: 15, y: 5, r: 15 },
            { x: 26, y: 12, r: 23 },
            { x: 7, y: 8, r: 8 },
          ],
          label: 'Series A'}]" 
        [chartType]="'bubble'"
        [options]="bubbleChartOptions"
        [plugins]="[]"
        [legend]="true">
      </canvas>
      <h3 class="text-center mt-3">Bubble Chart</h3>
    </div>
    <div class="col-3 pt-4">
      <canvas baseChart  width="400" height="300"
        [datasets]="[{ data: [65, 59, 90, 81, 56, 55, 40], label: 'Series A' },{ data: [28, 48, 40, 19, 96, 27, 100], label: 'Series B' }]" 
        [labels]="['Eating', 'Drinking', 'Sleeping', 'Designing', 'Coding', 'Cycling', 'Running']" 
        [chartType]="'radar'"
        [options]="{responsive: true}"
        [plugins]="[]"
        [legend]="true">
      </canvas>
      <h3 class="text-center mt-3">Doughnut Chart</h3>
    </div>
    <div class="col-3 pt-4">
      <canvas baseChart  width="400" height="300"
        [data]="[300, 500, 100]" 
        [labels]="[['Download', 'Sales'], ['In', 'Store', 'Sales'], 'Mail Sales']" 
        [chartType]="'pie'"
        [options]="{responsive: true}"
        [plugins]="[]"
        [legend]="true">
      </canvas>
      <h3 class="text-center mt-3">Pie Chart</h3>
    </div>
    <div class="col-3 pt-4">
      <canvas baseChart  width="400" height="300"
        [data]="[[350, 450, 100],[50, 150, 120], [250, 130, 70]]" 
        [labels]="['Download Sales', 'In-Store Sales', 'Mail-Order Sales']" 
        [chartType]="'doughnut'"
        [options]="{responsive: true}"
        [plugins]="[]"
        [legend]="true">
      </canvas>
      <h3 class="text-center mt-3">Doughnut Chart</h3>
    </div>
    <div class="col-3 pt-4">
      <canvas baseChart  width="400" height="300"
        [data]="[300, 500, 100, 40, 120]" 
        [labels]="['Download Sales', 'In-Store Sales', 'Mail Sales', 'Telesales', 'Corporate Sales']" 
        [chartType]="'polarArea'"
        [options]="{responsive: true}"
        [plugins]="[]"
        [legend]="true">
      </canvas>
      <h3 class="text-center mt-3">Doughnut Chart</h3>
    </div>

  </div>
</div>