<nav class="navbar navbar-expand-lg navbar-dark bg-primary py-3 mb-5">
  <div class="container">
    <a class="navbar-brand" href="#">Angular Charts</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="line-chart" routerLinkActive="active">Line Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pie-chart" routerLinkActive="active">Pie Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="bar-chart" routerLinkActive="active">Bar Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="doughnut-chart" routerLinkActive="active">Doughnut Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="polar-chart" routerLinkActive="active">Polar Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="radar-chart" routerLinkActive="active">Radar Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="bubble-chart" routerLinkActive="active">Bubble Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="scatter-chart" routerLinkActive="active">Scatter Chart</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>